/* UserGreeting.module.css */
.userGreeting {
    display: flex;
    align-items: center;
  }
  
  .username {
    font-family: cursive, sans-serif;  /* פונט של כתב יד */
    font-size: 1rem;  /* גודל טקסט גדול יותר */
    color: #000873;  /* צבע טקסט ירוק */
    font-weight: lighter;
    margin-right: 10px;
    padding: 15px;
    border-radius: 4px;
    background-color: #c4ebff;  /* רקע בהיר */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* צל קל */
    animation: fadeIn 2s ease-in-out forwards;  /* אנימציה איטית של 3 שניות */
    opacity: 0;  /* ה-username מתחיל עם opacity 0 */
  }

  .username:hover {
    color: #fff;  /* שינוי צבע הטקסט בעת ריחוף */
    background-color: #bad4e1;  /* שינוי רקע בעת ריחוף */
    transform: scale(1.1);  /* הגדלת הטקסט מעט */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);  /* צל חזק יותר */
  }
  
  /* אפקט אנימציה של Fade In */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);  /* מתחיל ממיקום נמוך */
    }
    100% {
      opacity: 1;
      transform: translateY(0);  /* מגיע למיקומו הסופי */
    }
  }

  .appNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* רקע לבן אטום */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #f0f0f0; /* צבע רקע של המודל */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modalButton {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .modalButton.yes {
    background-color: green; /* צבע הכפתור Yes */
    color: white;
  }
  
  .modalButton.yes:hover {
    background-color: darkgreen;
  }
  
  .modalButton.no {
    background-color: red; /* צבע הכפתור No */
    color: white;
  }
  
  .modalButton.no:hover {
    background-color: darkred;
  }
  
  .appLink {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  .appLink:hover {
    background-color: rgba(0, 0, 0, 0.1); /* רקע משתנה בלחיצה */
  }
  